{% extends 'base.html' %}
{% load tz %}
{% load static %}

{% block extra %} <link rel="stylesheet" href="{% static 'css/finance.css' %}"> {% endblock %}

{% block title %}Finance{% endblock %}

{% block content %}
    <script src="{% static 'js/finance.js' %}"></script>
    <div id='goals'>
    {% for goal in goals %}
        <div class='info'>
            <h2>{{ goal.goal_name }}</h2>
            <p>Amount: {{ goal.target_amount }}</p>
            <p>Start Date: {{ goal.created_at }}</p>
            <p>End Date: {{ goal.due_date }}</p>
            <p>Completed: {{ goal.current_amount }}</p>

            {% now "M d, Y" as today %}
            {% if goal.due_date|date:"M d, Y" <= today %}
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        {% if goal.due_date|date:"M d, Y" < today%}
                            <p>The due date for your goal {{ goal.goal_name }} has passed</p>
                        {% else %}
                            <p>Your goal {{ goal.goal_name }} is due today</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <form method="POST" action="{% url 'finance_goals' %}">
        {% csrf_token %}
        <label for="goal_name">Goal Name:</label>
        <input type="text" id="goal_name" name="goal_name" required><br>
        <label for="amount">Target Amount:</label>
        <input type="number" id="amount" name="amount" required><br>
        <label for="due_date">Due Date:</label>
        <input type="date" id="due_date" name="due_date" required><br>
        <input type="submit" value="Create Goal">
    </form>
{% endblock %}