{% extends 'base.html' %}
{% load static %}
{% block title %}Finance{% endblock %}

{% block extra %} <link rel="stylesheet" href="{% static 'css/save.css' %}"> {% endblock %}

{% block content %}
    {% for goal in goals %}
        <h3>{{ goal.goal_name }}</h3>
        <p>Amount: {{ goal.target_amount }}</p>
        <p>Start Date: {{ goal.created_at }}</p>
        <p>End Date: {{ goal.due_date }}</p>
        <p>Completed: {{ goal.current_amount }}</p>
    {% endfor %}

    {% if completed %}
        <div id="myModal" class="modal">
            <div class="modal-content">
            <span id="close">&times;</span>
            <p>Goal has been completed!!!!</p>
            <p>Your goal will be deleted</p>
            </div>
        </div>
    {% endif %}

    <h2>Save Money</h2>
    <form method="POST" action=''>
        {% csrf_token %}
        <label for="goal">Select Goal:</label>
        <select name="id" id="goal" required>
            {% for goal in goals %}
                <option value="{{ goal.id }}">{{ goal.goal_name }}</option>
            {% endfor %}
        </select>
        <label for="amount">Target Amount:</label>
        <input type="number" id="amount" name="amount" required><br>
    
        <input type="submit" value="Save">
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if ("{{ completed }}"){
                document.getElementById('myModal').style.display = 'block';
                document.getElementById('close').addEventListener('click', function() {
                    document.getElementById('myModal').style.display = 'none';
                    window.location.href = "/delete_goal/{{ completed }}/"
                });
            }
            document.querySelector('form').onsubmit = function() {
                const amount = document.querySelector('#amount').value;
                if (amount < 0) {
                    alert('Amount must be greater than 0');
                    return false;
                }
                const id = document.querySelector('select[name="id"]').value;
                const form = document.querySelector('form');
                form.action = `${id}/`;
                form.submit();
            }
        });
    </script>
        
{% endblock %}