{% extends 'base.html' %}
{% load static %}

{% block extra %} 
<link rel="stylesheet" href="{% static 'css/transaction.css' %}"> 
<script src="{% static 'js/transaction.js' %}"></script>
{% endblock %}

{% block content %}
<h2 id="title">Transaction History</h2>
<div id="transaction-form">
    <h3>Make a Transaction</h3>
    <form method="POST" action="{% url 'transaction' %}">
        {% csrf_token %}
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" required>
        <br>
        <label for="source">Source:</label>
        <input name="source" id="source" required>
        <br>
        <label for="receiving">Receiving:</label>
        <select name='recieving' id='receiving'>
            <option value='1'>Yes</option>
            <option value='0'>No</option>
        </select>
        <br>

        <button type="submit">Submit</button>
    </form>
</div>

<div id='list'>
    <table>
        <tr>
            <th>Amount</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.amount }}</td>
                {% if transaction.recieving %}
                    <td>{{ transaction.source }}</td>
                    <td>{{ transaction.user }}</td>
                {% else %}
                    <td>{{ transaction.source }}</td>
                    <td>{{ transaction.user }}</td>
                {% endif %}
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.balance}}</td>
                <td><button class="delete" data-id="{{ transaction.id }}">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
</div>


<input type="hidden" id="csrf-token" value="{{ csrf_token }}">
{% endblock %}